global:
  slack_api_url: 'https://hooks.slack.com/services/foo'

templates:
  - '/etc/alertmanager/*.tmpl'

route:
  receiver: 'slack'
  group_by: [alertname, datacenter, app]

receivers:
- name: 'slack'
  slack_configs:
  - channel: '#random'
    title: '{{ template "slack.title" . }}'
    text: '{{ template "slack.text" . }}'
    send_resolved: true